<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>Home</title>
	{% else %}
	<title>Amazon</title>
	{% endif %}
</head>
<body bgcolor="Gray">
	<center><b><p>Welcome to Mini-Amazon</p></b></center>
	{% block body %}

	{% endblock body %}
</body>
<footer>
	<p>&copy; Mini Amazon 2019</p>
	{% if title!='contact' %}
	<a href="/contact">Contact</a><br>
	{% endif %}
	{% if title!='about' %}
	<a href="/about">About</a><br>
	{% endif %}
	{% if title!='home' %}
	<a href="/">Home</a>
	{% endif %}
	{% if session %}
	<a href="/logout">logout</a>
	{% endif %}
</footer>
</html>